
<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <div class="attribute-container">  <h5 class="titulo_card">{{ product.title }}</h5>
      <img [src]="product.images" class="card-img" alt="{{ product.name }}">
      <h5 class="subtitulo_card">{{ product.price }}</h5>
      <h5 class="estado_card">{{ product.description }}</h5>
    </div>
    
    <div class="button-container">
      <button class="btn btn-primary edit-button" (click)="edit(product)">Editar</button>
      <button class="btn btn-danger delete-button" (click)="deleteProduct(product.id)">Eliminar</button>
    </div>
  </div>
</div>